* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    width: 100%;
}

.container-login {
    align-items: center;
    background-color: #111;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 100vh;
    padding: 15px;
    width: 100%;
}

.wrapper-login {
    background-color: #333;
    border-radius: 10px;
    overflow: hidden;
    padding: 77px 55px 33px;
    width: 390px;
}

.login-form {
    width: 100%;
}

.login-form-title {
    color: azure;
    display: block;
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
}

.login-form-image img {
    display: block;
    margin: 0 auto;
    width: 90px;
}

.wrapper-input {
    border-bottom: 2px solid #adadad;
    margin-bottom: 37px;
    position: relative;
    width: 100%;
}

.input-email, .input-password {
    background-color: transparent;
    border: none;
    color: #fff;
    display: block;
    line-height: 1.2;
    height: 45px;
    font-size: 15px;
    padding: 0 5px;
    width: 100%;
}